<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_bg }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

    {{ content_for_header }}

    {%- style -%}
      {{ settings.font_heading | font_face: font_display: 'swap' }}
      {{ settings.font_body | font_face: font_display: 'swap' }}

      :root {
        --color-bg: {{ settings.color_bg }};
        --color-text: {{ settings.color_text }};
        --color-text-muted: {{ settings.color_text_muted }};
        --color-primary: {{ settings.color_primary }};
        --color-secondary: {{ settings.color_secondary }};
        --color-border: {{ settings.color_border }};
        --color-card-bg: {{ settings.color_card_bg }};
        --color-btn-bg: {{ settings.color_btn_bg }};
        --color-btn-text: {{ settings.color_btn_text }};
        
        --grid-spacing: {{ settings.grid_spacing }}px;
        --font-body-family: {{ settings.font_body.family }}, {{ settings.font_body.fallback_families }};
        --font-heading-family: {{ settings.font_heading.family }}, {{ settings.font_heading.fallback_families }};
        
        --font-body-style: {{ settings.font_body.style }};
        --font-body-weight: {{ settings.font_body.weight }};
        --font-heading-style: {{ settings.font_heading.style }};
        --font-heading-weight: {{ settings.font_heading.weight }};
      }
    {%- endstyle -%}

    {{ 'theme.css' | asset_url | stylesheet_tag }}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
  </head>

  <body class="template-{{ template.name }} gradient">
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      Skip to content
    </a>

    {% section 'header' %}

    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

    {%- if settings.enable_cart_drawer -%}
      {% render 'cart-drawer' %}
    {%- endif -%}

    <script>
      window.shopUrl = '{{ request.origin }}';
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        cart_url: '{{ routes.cart_url }}'
      };
      window.cartStrings = {
        error: `There was an error adding this item`
      };
    </script>
  </body>
</html>
